* {
    margin: 0;
    padding: 0;

    box-sizing: border-box;
}

html,
body {
    width: 100%;
    height: 100%;

    overflow: hidden;
}

body {
    background-color: rgb(255, 218, 162);

    display: flex;
    flex-direction: column;
}

#Escenario {
    width: 100%;
    height: 100%;

    display: flex;
    flex-direction: column;

    position: relative;

    transition: transform 0.5s ease;
}

#ConstruccionContainer {
    width: 50%;
    height: 80%;

    background-color: aqua;

    display: flex;
    flex-direction: column-reverse;

    overflow: visible;

    margin: auto 0 0 auto;

    position: relative;

    transition: transform 0.5s ease;
}

#Suelo {
    width: 100%;
    height: 75px;
    flex-shrink: 0;

    background-color: rgb(31, 75, 25);
    border-top: 5px solid black;
}

#Ardilla {
    position: absolute;

    width: 60px;
    height: 60px;

    align-self: center;

    background-color: orange;

    transition:
        left 0.5s ease,
        transform 0.5s ease;
}

#Controles {
    width: 50px;
    height: 50% auto;
    min-height: 100px;
    max-height: 200px;

    display: flex;
    flex-direction: column;

    position: absolute;

    top: 50%;
    left: 25px;
    transform: translateY(-50%);

    background-color: rgba(0, 0, 0, 0.5);

    border-radius: 25px;
}

#SiguienteNivel {
    rotate: -135deg;
}

#AnteriorNivel {
    rotate: 45deg;
}

#SeleccionNivel {
    width: 32px;
    height: 30px;

    margin: auto;

    padding: 0 4px;

    border: 2px solid rgba(0, 0, 0, 0.5);
    border-radius: 6px;

    background-color: rgb(255, 218, 162);

    text-align: center;
    font-size: 16px;
    font-weight: bold;

    outline: none;

    -moz-appearance: textfield;

    transition:
        background-color 0.2s ease,
        border-color 0.2s ease,
        transform 0.2s ease;
}

#SeleccionNivel::-webkit-inner-spin-button,
#SeleccionNivel::-webkit-outer-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

#SeleccionNivel:focus {
    background-color: white;
    border-color: rgb(31, 75, 25);

    transform: scale(1.1);
}

.Flecha {
    width: 15px;
    height: 15px;

    margin: auto;

    border: solid white;
    border-width: 0 4px 4px 0;

    cursor: pointer;

    transition: transform 0.2s ease;
}

.Flecha:hover {
    transform: rotate(360deg) scale(1.2);
}

.Nivel,
.Copa {
    width: 50%;
    height: 50%;
    flex-shrink: 0;

    background-color: brown;
    border-top: 2px solid black;

    display: flex;

    align-items: center;

    margin: 0 auto;
}

.Copa {
    background-color: rgb(236, 79, 79);
    border-top-left-radius: 50%;
    border-top-right-radius: 50%;
}

.InfografiaWebp {
    height: 70%;
    width: 100%;

    margin: auto;
    object-fit: contain
}

.Quieto {
    transform: translateX(0);
}

.Moviendo {
    transform: translateX(-50%);
}

.ArdillaSuelo {
    left: -25%;
}

.ArdillaNivel {
    left: 25%;
}