* {
    margin: 0;
    padding: 0;

    box-sizing: border-box;
}

html,
body {
    width: 100%;
    height: 100%;

    overflow: hidden;
}

body {
    background-color: rgb(255, 218, 162);

    display: flex;
    flex-direction: column;

    background-image: url("../Img/2304x1296.png");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

#Escenario {
    width: 100%;
    height: 100%;

    display: flex;
    flex-direction: column;

    position: relative;

    transition: transform 0.5s ease;
}

#ConstruccionContainer {
    width: 50%;
    height: 80%;

    display: flex;
    flex-direction: column-reverse;

    overflow: visible;

    margin: auto 0 0 auto;

    position: relative;

    transform: translateY(50px);

    transition: transform 0.5s ease;
}

#Suelo {
    width: 100%;
    height: 75px;
    flex-shrink: 0;
    display: flex;

    background-image: url("../Img/4.png");
    background-size: cover;
    background-position: bottom;
    background-repeat: no-repeat;
}

#Ardilla {
    position: absolute;

    background-image: url("../Img/Ardilla\ Sprite\ Sheet.png");
    background-repeat: no-repeat;

    background-size: 512px 64px;

    width: 64px;
    height: 64px;

    align-self: center;

    z-index: 1;

    transition:
        left 0.5s ease,
        transform 0.5s ease;
}

#Controles {
    width: 50px;
    height: 50% auto;
    min-height: 100px;
    max-height: 200px;

    display: flex;
    flex-direction: column;

    position: absolute;

    top: 50%;
    right: 25px;
    transform: translateY(-50%);

    background-color: rgba(0, 0, 0, 0.5);

    border-radius: 25px;
    z-index: 3;
}

#InfografiaContainer {
    width: 45%;
    min-height: 100dvh;

    background-color: rgba(0, 0, 0, 0.5);

    border-radius: 20px;

    margin-left: 2.5%;

    z-index: 2;

    position: absolute;
}

.Arriba {
    rotate: -135deg;
}

.Abajo {
    rotate: 45deg;
}

.Izquierda {
    rotate: 135deg;
}

.Derecha {
    rotate: 315deg;
}

#SeleccionNivel {
    width: 32px;
    height: 30px;

    margin: auto;

    padding: 0 4px;

    border: 2px solid rgba(0, 0, 0, 0.5);
    border-radius: 6px;

    background-color: rgb(255, 218, 162);

    text-align: center;
    font-size: 16px;
    font-weight: bold;

    outline: none;

    -moz-appearance: textfield;

    transition:
        background-color 0.2s ease,
        border-color 0.2s ease,
        transform 0.2s ease;
}

#SeleccionNivel::-webkit-inner-spin-button,
#SeleccionNivel::-webkit-outer-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

#SeleccionNivel:focus {
    background-color: white;
    border-color: rgb(31, 75, 25);

    transform: scale(1.1);
}

.Flecha {
    width: 15px;
    height: 15px;

    margin: auto;

    border: solid white;
    border-width: 0 4px 4px 0;

    cursor: pointer;

    transition: transform 0.2s ease;
}

.Flecha:hover {
    transform: rotate(360deg) scale(1.2);
}

.Nivel,
.Copa,
.Raiz {
    width: 50%;
    aspect-ratio: 1 / 1;

    flex-shrink: 0;

    background-size: 100% 100%;
    background-position: center;
    background-repeat: no-repeat;

    display: flex;
    align-items: center;

    margin: 0 auto;
}

.Copa {
    background-image: url("../Img/sprite_arbol0.png");
}

.Nivel {
    background-image: url("../Img/sprite_arbol1.png");
}

.Raiz {
    background-image: url("../Img/sprite_arbol2.png");

    mask-image: linear-gradient(to top,
            transparent 0%,
            rgba(0, 0, 0, 0) 16%,
            rgb(0, 0, 0) 32%);

    -webkit-mask-image: linear-gradient(to top,
            transparent 0%,
            rgba(0, 0, 0, 0) 16%,
            rgb(0, 0, 0) 32%);
}

#VisorInfografia {
    width: 100%;
    height: 100%;

    display: flex;
    flex-direction: column;

    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
}

#InfografiaContainer {
    width: 45%;
    height: 100dvh;

    padding: 20px;

    background-color: rgba(0, 0, 0, 0.5);

    border-radius: 20px;

    margin-left: 2.5%;

    z-index: 2;
    position: absolute;

    display: flex;
    align-items: center;
    justify-content: center;

    overflow: hidden;
}

#DescargarInfografia {
    position: absolute;
    bottom: 0%;
    left: 4%;
    width: auto;
    height: 20px;
    padding: 4px 10px;
    margin: 5px auto;
    display: flex;
    align-items: center;
    justify-content: center;
    font-weight: bold;
    text-decoration: none;
    color: rgb(71, 69, 41);
    background-color: darkkhaki;
    border: 2px solid rgb(71, 69, 41);
    border-radius: 5px;
    z-index: 4;
}

#DescargarInfografia:hover {
    color: white;
    border-color: white;
    padding: 3px 8px;
}

.InfografiaWebp {
    width: 95%;
    height: 95%;

    margin: auto;

    object-fit: contain;

    border-radius: 10px;

}

.ContenedorPdf {
    width: 90%;
    height: 100%;

    margin: auto;

    display: flex;
    flex-direction: column;

    align-items: center;
    justify-content: center;
    margin: auto;
    gap: 10px;
}

.Nivel .InfografiaWebp,
.Nivel .InfografiaPdf {
    width: 30%;
    height: 30%;
    border-radius: 25px;

    opacity: .80;
}

.InfografiaPdf {
    max-width: 100%;
    max-height: calc(100% - 50px);

    width: auto;
    height: auto;

    object-fit: contain;

    border-radius: 10px;
}

.ControlesPdf {
    display: flex;

    width: 90%;

    align-items: center;
    justify-content: center;

    margin: 10px auto;
}

.ControlesPdf button {
    border: none;

    background-color: rgba(0, 0, 0, 0);

    cursor: pointer;
}

.ControlesPdf span {
    min-width: 45px;

    text-align: center;

    font-size: 16px;
    font-weight: bold;
}

.Quieto {
    transform: translateX(0);
}

.Moviendo {
    transform: translateX(-50%);
}

.Oculto {
    visibility: hidden;
}

.ArdillaSuelo {
    background-image: url("../Img/Ardilla\ Sprite\ Sheet\ 2.png") !important;

    background-size: 960px 64px !important;

    animation: Idle 1.5s steps(15) infinite;
    left: -25%;
}

.MoviendoArdilla {
    background-image: url("../Img/Ardilla\ Sprite\ Sheet.png");

    background-size: 512px 64px;

    animation: trepar 0.8s steps(8) infinite;
}

.ArdillaNivel {
    bottom: 60px;
    left: 35%;
}

@keyframes trepar {
    from {
        background-position: 0 0;
    }

    to {
        background-position: -512px 0;
    }
}

@keyframes Idle {
    from {
        background-position: 0 0;
    }

    to {
        background-position: -960px 0;
    }
}