* {
    margin: 0;
    padding: 0;

    box-sizing: border-box;
}

html,
body {
    width: 100%;
    height: 100%;

    overflow: hidden;
}

body {
    background-color: rgb(255, 218, 162);

    display: flex;
    flex-direction: column;
}

#Escenario {
    width: 100%;
    height: 100%;

    display: flex;
    flex-direction: column;

    position: relative;

    transition: transform 0.5s ease;
}

#ConstruccionContainer {
    width: 50%;
    height: 80%;

    background-color: aqua;

    display: flex;
    flex-direction: column-reverse;

    overflow: visible;

    margin: auto 0 0 auto;

    position: relative;

    transition: transform 0.5s ease;
}

#Suelo {
    width: 100%;
    height: 75px;
    flex-shrink: 0;

    background-color: rgb(31, 75, 25);
    border-top: 5px solid black;
}

#Ardilla {
    position: absolute;

    width: 60px;
    height: 60px;

    align-self: center;

    background-color: orange;

    transition:
        left 0.5s ease,
        transform 0.5s ease;
}

.Nivel {
    width: 50%;
    height: 50%;
    flex-shrink: 0;

    background-color: brown;
    border-top: 2px solid black;

    display: flex;

    align-items: center;

    margin: 0 auto;
}

.InfografiaWebp {
    height: 70%;
    width: 100%;

    margin: auto;
    object-fit: contain
}

.Quieto {
    transform: translateX(0);
}

.Moviendo {
    transform: translateX(-50%);
}

.ArdillaSuelo {
    left: -25%;
}

.ArdillaNivel {
    left: 25%;
}